---
import Base from './Base.astro';
import DateTimeCount from '~/components/DateTimeCount.astro';


import TagsList from '~/components/TagsList.astro';
import Toc from '~/components/Toc/Toc.astro'
import Epilogue from '~/components/Epilogue.astro';

const url = new URL(Astro.url.pathname, Astro.site);
const { content, headings } = Astro.props;

const props = Astro.props

---

<Base className="align-left" title={content.title} description={content.description} permalink={url.href}>
<Toc headings={headings} />
<div class="heading">
  <TagsList tags={content.tags} />
  <h1 class="title">{content.title}</h1>
  <DateTimeCount date={content.pubDate} minutesRead={content.minutesRead} />
</div>
{content.cover &&
<div class="cover">
  <img src={content.cover} />
</div>
}
<div class="article">
  <slot />
  <Epilogue/>
  
</div>

</Base>


<style>
  /* TOC */
  :global(aside) {
    position: fixed;
    right: 0;
  }


  :global(html) {
    scroll-padding-top: 70px;
    /* scroll-behavior: smooth; */
    /* ref to LA-138 */
  }

  :global(main.center.align-left) {
    grid-template-columns: 5fr min(var(--max-width), calc(100% - 64px)) 6fr;
  }

  .title {
    padding: .2em 0;
  }

  .cover {
    margin-bottom: 2em;
    width: 120%;
    justify-self: center;


    & img {
      aspect-ratio: 3/2;
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
      --shadow-color: 0deg 0% 0%;
      box-shadow:
        0.1px 0.5px 0.7px hsl(var(--shadow-color) / 0.04),
        0.7px 2.2px 3.2px -0.2px hsl(var(--shadow-color) / 0.09),
        1.4px 4.8px 7px -0.5px hsl(var(--shadow-color) / 0.14),
        3.1px 10.3px 15px -0.7px hsl(var(--shadow-color) / 0.19);
    }
  }

  @media screen and (max-width: 1000px) {
    .cover {
      width: 100vw;
      max-height: auto;


      & img {
        aspect-ratio: 2/3;
        border-radius: 0px;
      }

    }
  }

  .heading {
    margin-bottom: 2em;
  }

  @media screen and (max-width: 80rem) {
    :global(aside) {
      display: none;
    }

    :global(main.center.align-left) {
      grid-template-columns: 1fr min(var(--max-width), calc(100% - 64px)) 1fr;
    }
  }
</style>